---
import Layout from "../layouts/Layout.astro";

// Definir un tipo de imagen
type Image = {
  id: number;
  src: string;
  description: string;
};

// Array de imágenes
const images: Image[] = [
  { id: 1, src: '/images/person.png', description: 'Descripción de la imagen 1' },
  { id: 2, src: '/images/person.png', description: 'Descripción de la imagen 2' },
  { id: 3, src: '/images/person.png', description: 'Descripción de la imagen 3' },
  { id: 4, src: '/images/person.png', description: 'Descripción de la imagen 4' }
];

// Obtener el ID de la URL
const id = Astro.params.imagen;

// Comprobar si `id` está definido y es un número
let image: Image | undefined;

if (id && !isNaN(Number(id))) {
  const imageId = Number(id);
  image = images.find(img => img.id === imageId);
}

// Si no se encuentra la imagen, asignar una imagen por defecto
if (!image) {
  image = { id: 0, src: '/images/default.png', description: 'Imagen no encontrada' };
}
---

<Layout title="Imagen">
  <main class="text-center mt-10">
    <h1 class="font-bold text-xl">Imagen Detallada</h1>
    <img src={image.src} alt={`Imagen ${image.id}`} class="w-96 h-96 object-cover mx-auto"/>
    <p>{image.description}</p>
  </main>
</Layout>
