---
import Header from "../components/Header";
import Footer from "../components/Footer";
import Layout from "../layouts/Layout.astro";
import AgendamientoComponent from "../components/pages/AgendamientoComponent";
---

<Layout title="Agenda">
  <Header />
  <main class="relative overflow-hidden">
    <div class="mx-auto max-w-6xl px-6 lg:px-8">
      <div class="mt-16 sm:mt-12">
        <div class="bg-gray-900/5 rounded-xl p-2 ring-1 ring-inset ring-gray-900/10 lg:-m-4 lg:rounded-2xl lg:p-4">
          <div class="bg-white px-4 py-8 shadow sm:rounded-lg sm:px-10">
          <AgendamientoComponent client:load />
        </div>
        </div>
      </div>
    </div>
    <div>
      <h1 class="mt-10"></h1>
    </div>
  </main>
  <Footer/>
</Layout>
