---

import Footer from "../components/Footer.astro";
import Header from "../components/Header";
import Layout from "../layouts/Layout.astro";



---


<Layout title="Electiva IV">
  <Header/>
  <main>
    <div
      class="mb-12 mt-28 sm:mt-40 flex flex-col items-center justify-center text-center"
    >
     
      <h1 class="max-w-4xl text-5xl font-bold md:text-6xl lg:text-7xl">
        Agenda y citas para {" "}
        <span class="text-blue-600">Odontólogos</span>{" "}
        justo ahora
      </h1>
      <p class="mt-5 max-w-prose text-zinc-700 sm:text-lg">
        Sonrisas te permite agendar, pedir citas, recordatorios de tu
        consultorio para llevar un historial de tus pacientes y poder
        gestionarlos eficazmente.
      </p>

      <a
        class="mt-5 inline-flex items-center px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors"
        href="/admin"
        target="_blank"
      >
        Empecemos
        <svg
          class="ml-2 h-5 w-5"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M5 12h14m-7-7l7 7-7 7"></path>
        </svg>
      </a>
    </div>
	{/* Sombras Gradientes */}
    <div>
      <div class="relative isolate">
        <div
          aria-hidden="true"
          class="pointer-events-none absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
        >
          <div
            style={{
              clipPath:
                "polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)",
            }}
            class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
          >
          </div>
        </div>
        <div class="mx-auto max-w-6xl px-6 lg:px-8">
          <div class="mt-16 flow-root sm:mt-24">
            <div
              class="-m-2 rounded-xl bg-gray-900/5 p-2 ring-1 ring-inset ring-gray-900/10 lg:-m-4 lg:rounded-2xl lg:p-4"
            >
              <img
                src="/dashboard-miniatura.jpg"
                alt="product preview"
                width="1364"
                height="866"
                class="rounded-md bg-white p-2 sm:p-8 md:p-20 shadow-2xl ring-1 ring-gray-900/10"
              />
            </div>
          </div>
        </div>
      </div>

      
      <div>
        <div
          aria-hidden="true"
          class="pointer-events-none absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
        >
          <div
            style={{
              clipPath:
                "polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)",
            }}
            class="relative left-[calc(50%-13rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-36rem)] sm:w-[72.1875rem]"
          >
          </div>
        </div>
      </div>
    </div>
	{/* Fin Sombras Gradientes */}

    <div class="mx-auto mb-32 mt-32 max-w-5xl sm:mt-56">
      <div class="mb-12 px-6 lg:px-8">
        <div class="mx-auto max-w-2xl sm:text-center">
          <h2 class="mt-2 font-bold text-4xll text-gray-90 sm:text-5xl">
            Autores
          </h2>
          <p class="mt-4 text-lg text-gray-600">
            Sergio Contreras y Nicolas Cabrera
          </p>
        </div>
      </div>
      <ol class="my-8 space-y-4 pt-8 md:flex md:space-x-12 md:space-y-0">
        <li class="md:flex-1">
          <div
            class="flex flex-col space-y-2 border-l-4 border-zinc-300 py-2 pl-4 md:border-l-0 md:border-t-2 md:pb-0 md:pl-0 md:pt-4"
          >
            <span class="text-sm font-medium text-blue-600"> Paso 1 </span>
            <span class="text-xl font-semibold"> Agenda citas </span>
            <span class="mt-2 text-zinc-700">
              Prueba el modo gratuito, próximamente el Plan {" "}
              <a
                href="/pricing"
                class="text-blue-700 underline underline-offset-2"
              >
                Pro{" "}
              </a>
              .
            </span>
          </div>
        </li>
        <li class="md:flex-1">
          <div
            class="flex flex-col space-y-2 border-l-4 border-zinc-300 py-2 pl-4 md:border-l-0 md:border-t-2 md:pb-0 md:pl-0 md:pt-4"
          >
            <span class="text-sm font-medium text-blue-600"> Paso 2 </span>
            <span class="text-xl font-semibold"> Revisa tu calendario </span>
            <span class="mt-2 text-zinc-700">
              Podrás ver las citas y agendamientos que hayas marcado anteriormente.
            </span>
          </div>
        </li>
        <li class="md:flex-1">
          <div
            class="flex flex-col space-y-2 border-l-4 border-zinc-300 py-2 pl-4 md:border-l-0 md:border-t-2 md:pb-0 md:pl-0 md:pt-4"
          >
            <span class="text-sm font-medium text-blue-600"> Paso 3 </span>
            <span class="text-xl font-semibold"> Empieza a preguntar! </span>
            <span class="mt-2 text-zinc-700">
              Es bastante sencillo. Prueba {" "}
              <span
                class="text-blue-600 max-w-4xl text-xm font-bold md:text-xm lg:text-xm"
              >
                Sonrisas
              </span>
              toma menos de un minuto.
            </span>
          </div>
        </li>
      </ol>
      <div class="mx-auto max-w-6xl px-6 lg:px-8">
        <div class="mt-16 flow-root sm:mt-24">
          <div
            class="-m-2 rounded-xl bg-gray-900/5 p-2 ring-1 ring-inset ring-gray-900/10 lg:-m-4 lg:rounded-2xl lg:p-4"
          >
            <img
              src="/subir-documento.jpg"
              alt="uploading preview"
              width={1419}
              height={732}
              class="rounded-md bg-white p-2 sm:p-8 md:p-20 shadow-2xl ring-1 ring-gray-900/10"
            />
          </div>
        </div>
      </div>
    </div>
  </main>

  <style>
	  html {
    font-family: system-ui, sans-serif;
  }
  </style>
    <Footer/>
</Layout>
