---
import Footer from "../components/Footer";
import Header from "../components/Header";
import Layout from "../layouts/Layout.astro";

const searchParams = Astro.url.searchParams;

const nombre: string = searchParams.get('nombre') ?? 'Amigo';
const edad: string = searchParams.get('edad') ?? 'desconocida';

const images = [
  { id: 1, src: '/images/person.png', description: 'Descripción de la imagen 1' },
  { id: 2, src: '/images/person.png', description: 'Descripción de la imagen 2' },
  { id: 3, src: '/images/person.png', description: 'Descripción de la imagen 3' },
  { id: 4, src: '/images/person.png', description: 'Descripción de la imagen 4' }
];
---

<Layout title="Pacientes">
  <Header />
  <main class="relative overflow-hidden">
    <!-- Saludo al usuario -->
    <div class="font-bold mb-12 mt-28 sm:mt-40 flex flex-col items-center justify-center text-center">
      <h1>¡Hola, { nombre }!</h1>
      <p>Tu edad es: {edad}</p>
    </div>

    <!-- Mostrar imágenes centradas -->
    <div class="grid grid-cols-2 gap-4 justify-items-center">
      {images.map(image => (
        <a href={`/imagen/${image.id}`}>
          <img src={image.src} alt={`Imagen ${image.id}`} class="w-48 h-48 object-cover"/>
        </a>
      ))}
    </div>
  </main>
  <Footer/>
</Layout>
