---
--- 

<div class="bg-gray-100 p-4 rounded-2xl shadow-lg ring-1 ring-inset ring-gray-200 transition-transform transform hover:scale-105">
    <div class="relative rounded-xl overflow-hidden">
      <img
        src="/images/upload.jpg"
        alt="Vista previa del producto"
        class="w-full h-auto object-cover rounded-xl shadow-md"
      />
      <!-- Overlay -->
      <div class="absolute inset-0 bg-black bg-opacity-0 hover:bg-opacity-20 transition-opacity flex items-center justify-center">
        <div class="opacity-0 hover:opacity-100 transition-opacity text-white text-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 mx-auto mb-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
          </svg>
          <p class="font-semibold">Subir Nueva Imagen</p>
        </div>
      </div>
    </div>
  </div>
  