---
import ConsultorioComponent from '../../components/pages/ConsultorioComponent';
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Administrador - Historial de Pacientes">
    <div class="bg-gray-100">
        <ConsultorioComponent client:load />
    </div>
</Layout>
