---
import Sidebar from "../../components/Sidebar.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Administrador - Historial de Pacientes">
  <div class="flex min-h-screen">
    {/* Sidebar */}
    <Sidebar/>

    {/* Main Content */}
    <main class="flex-1 p-8 bg-gray-100 ml-64">
      <h1 class="text-4xl font-bold mb-4">Historial de Pacientes</h1>
      <p class="text-gray-700 mb-6">
        Accede al historial completo de los pacientes registrados en la clínica de manera rápida y eficiente.
      </p>
      
      {/* Buscador de pacientes */}
      <div class="bg-gradient-to-r from-blue-700 to-blue-900 p-6 rounded-lg shadow-md mb-8">
        <h2 class="text-3xl font-semibold mb-4 text-white">Buscar Paciente</h2>
        <input type="text" placeholder="Nombre del paciente o ID" class="w-full p-4 border rounded-lg text-black mb-4" />
        <button class="px-6 py-3 bg-white text-black rounded-lg hover:bg-blue-100 transition-colors">
          Buscar
        </button>
      </div>
      
      {/* Resultados del Historial */}
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-3xl font-semibold mb-4 text-gray-800">Resultados de Búsqueda</h2>
        <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow">
          <thead>
            <tr>
              <th class="py-3 px-4 border-b bg-gray-50 text-gray-800">ID</th>
              <th class="py-3 px-4 border-b bg-gray-50 text-gray-800">Paciente</th>
              <th class="py-3 px-4 border-b bg-gray-50 text-gray-800">Historial</th>
              <th class="py-3 px-4 border-b bg-gray-50 text-gray-800">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td class="py-4 px-4 border-b">1</td>
              <td class="py-4 px-4 border-b">María Fernández</td>
              <td class="py-4 px-4 border-b">Visitas: 3, última visita: 2024-09-20</td>
              <td class="py-4 px-4 border-b">
                <button class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-colors">Ver Detalles</button>
              </td>
            </tr>
            {/* Más registros */}
          </tbody>
        </table>
      </div>
    </main>
  </div>
</Layout>