---
import Sidebar from "../../components/Sidebar";
import Layout from "../../layouts/Layout.astro";
import UploadRadiografia from "../../components/UploadRadiografias.astro";
---

<Layout title="Administrador - Radiografías">
  <div class="flex min-h-screen">
    {/* Sidebar */}
    <Sidebar />


    {/* Main Content */}
    <main class="flex-1 p-8 bg-gray-100 ml-64 mb-4">
      <h1 class="text-4xl font-bold mb-4">Gestor de Radiografías</h1>
      <p class="text-gray-700 mb-6">
        Administra las radiografías de los pacientes, visualiza y adjunta
        archivos de forma segura y organizada.
      </p>
      {/* Sección de carga y visualización de radiografías */}
      <div class="p-6 rounded-lg shadow-md my-8">
        <UploadRadiografia />
      </div>
      
      {/* Listado de Radiografías */}
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-3xl font-semibold mb-4 text-gray-800">
          Radiografías Recientes
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          {/* Ejemplo de radiografía */}
          <div
            class="p-4 border rounded-lg shadow hover:shadow-2xl transition-shadow"
          >
            <img
              src="/images/radiografia.jpg"
              alt="Radiografía"
              class="w-full h-56 object-cover rounded-lg"
            />
            <p class="mt-4 text-gray-700 font-semibold">Paciente: Juan Pérez</p>
            <p class="text-gray-500 text-sm">Fecha: 2024-10-15</p>
            <button
              class="mt-4 px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 transition-colors"
              >Eliminar</button
            >
          </div>
        </div>
      </div>
    </main>
  </div>
</Layout>
